@model Admin_TekBot_Prod_.Models.Case

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/EstiloFormulario.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Styles.Render("~/Content/EstiloDetails.css")

<div id="TitleDetails">
    <p>Case Details</p>
</div>

<div>

    <button class="accordion">Case Information</button>
    <div class="panel">
        <dt>
            @Html.DisplayNameFor(model => model.Engineer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case_severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case_severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Date_Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Date_Close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Close_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Close_Date)
        </dd>
    </div>

    <div class="form-group">
        <input type="button" class="myButton" value="Editar" onclick="location.href='@Url.Action("Edit", "CaseS", new { id = Model.})'" />
        <input type="button" class="myButton" value="Regresar" onclick="location.href='@Url.Action("Index", "EMPLEADOS")'" />
    </div>
</div>

@section Scripts{
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    </script>
}